* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box;    */
  /* outline: 1px solid green;  */
  font-family: "poppins", sans-serif;
}

.cont{
  justify-self: center;
}

body {
  width: 100%;
  
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}

 /* Remove Bootstrap arrow */
    .dropdown-toggle::after {
      display: none !important;
    }

    /* Make dropdown open on hover */
    .hover-dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* removes jump effect */
    }

    /* Optional styling */
    .dropdown-menu {
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: all 0.2s ease;
    }

    .btn {
      background: #222;
      color: #fff;
      border: none;
    }

    .btn:hover {
      background: #444;
    }

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* NAVIGATION/DROPDOWN */
.nav {
  font-size: 30px;
  /* background-color: rebeccapurple; */
  justify-content: space-evenly
  
}

.logo-text {
  padding: 30px 600px 0px 0px;
}

.fa-equals{
  font-size: 30px;
  padding: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
}

/* HEROE SECTION */
.heroe-container {
  display: flex;
  flex-direction: row;
  
  height: 700px;
}
.image-container {
  display: flex;
  width: 100%;
}

.heroe-img {
  object-fit: contain;
  height: 100%;
}
.blue-bgc {
  width: 682px;
}
.ash-bgc {
  width: 450px;
}
/* positioning our header */
.positioned-heroe {
  border: 8px solid rgb(255, 252, 252);
  padding: 20px;
  width: 700px;
  display: inline-block;
  justify-self: center;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.heroe-txt {
  font-size: 75px;
  font-weight: 500;
  color: #050505;
  line-height: 80px;
}

.heroe-txt-word {
  font-size: 25px;
  font-weight: 400;
  color: #070707;
}

/* SECTION 2 */

.robotics-automation-container {
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  width: 70%;
  gap: 0px;
}

.robotics-automation-content {
  /* width: 600px;
  padding: 50px; */
}

.rpa-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.robotics-automation-txt {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(107, 106, 106);
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 80px;
  font-family: "Open Sans", sans-serif;
}
.rpa-txt-2 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 60px;
  font-family: "Rubik", sans-serif;
}
.rpa-txt-3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.rpa-txt-4-container {
  width: 100%;
}
.rpa-txt-4 {
  display: inline-block;
  font-size: 17px;
  padding: 0px 5% 0px 0px;
  margin-bottom: 60px;
}
.rpa-btn {
  padding: 15px 40px;
  background: transparent;
  border: 1px solid aqua;
  font-style: italic;
}

.rpa-img-1 {
  width: 650px;
  height: 300px;
  object-fit: cover;
}

.rpa-img-2 {
  width: 650px;
  height: 300px;
  object-fit: cover;
}
.blue-bgc-rpa {
  width: 20px;
  height: 210px;
  clear: both;
  justify-self: right;
  align-items: center;
  /* margin-right: 10px; */
  position: absolute;
  top: 36.5cm;
  right: 415px;
}
.white-bg {
  width: 50px;
  height: 140px;
  top: 36cm;
  right: 400px;
  /* justify-self: right;
  align-items: center; */
  position: absolute;
}
.white-blue-positioning {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-self: center;
}
/* ICONS STYLING */

.abt-icon{
  font-size: 40px;
  margin-left: 10px;
}

.abt-icons{
  color: #17cad0;
}

/* ABOUT SECTION */
.about {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 74.3%;
  gap: 20px;
  margin-bottom: 200PX;
  margin-left: 140px;
}

.abt-head {
  font-size: 26.5px;
  display: inline-block;
}

.abt-1-blue{
 background-color:  #17cad0;
 color: white;
 padding: 130px 0px 30px 0px;
 display: flex;
flex-direction: row;
gap: 50px;
width: 100%

}
.abt-1{
  padding: 100px 1px 30px 10px; 
   padding: 130px 10px 30px 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  
}
.dif{
   background-color:  #17cad0;
   color: white;
}
.abt-p{
  width: 100%;
  font-size: 16px;
padding-right:60px ;
margin-right:0px ;


}
.i-text{
  padding-right: 120px;
}

  /* END OF ABOUT */

  /* POSITION BLACK */

.bg-black{
  width: 10px;
  height: 150px;
  /* margin-left: 50px; */
  position: absolute;
  top:50cm;
  left: 360px;

}


/* TRANSPORTATION SECTION */
.blue-bgc-tp{
  width: 47%;
  height: 10px;
position: absolute;
top:56cm;
right: 30px;
}

.transportation {
  display: flex;
  flex-direction: row;
  width: 67%;
  justify-self: center;
  gap: 50px;
  margin-bottom: 80px;
}
  

.tp-img{
  width: 600px;
  height: 650px;
  object-fit:cover ;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: 50% 50%;
}
.tp-content{
  width: 50%;
  margin-top: 40px;
 
}

.tp-text-header{
  font-size: 39px;
  margin-bottom: 40px;
}
.transportation-txt{
  text-transform: uppercase;
   color: rgb(107, 106, 106);
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 20px;
  
}

.sub-tp-text-header{
  font-weight: 700;
  margin-bottom: 20px;
}

.tp-text{
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 30px;

}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


 /* FLEXED SUV IMG */

 .suv-img-flex{

 width: 65%;
 justify-self: center;
 margin-bottom: 30px;

 }

 .suv-img-container{
  display: flex;
  flex-direction:row;
  gap: 20px;
   justify-self: center;
 }

 .suv-img{
  width: 260px;
  height: 245px;
  object-fit: cover;

 }

 /* SECTION FOR OVERVIEW */
.overview{
  display: flex;
  flex-direction: row;
  height: 730px;
  margin-bottom: 100px;

}
.ov-texts-container{
 
  width: 60%;
   justify-self: right;
  /* padding-left: 300px; */
  padding-right: 50px;
  padding-top: 50px;
}

.overview-bg-black{
  background-color: rgb(28, 29, 29);
}
.ovverview-bg-blue{
  background-color:#17cad0;
  height: 730px;
  width:  85%;
}

.ov-head{
  color: white;
  font-size: 23px;
  line-height: 20px;
  margin-bottom: 30px;
   margin-top: 50px;
}
.ov-text{
  color: white;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

.ov-blue-header{
  font-size: 40px;
  color: white;
  font-weight: 600;
  justify-self: right;
  margin-right: 20px;
  padding: 100px 10px 10px 10px;
   
}
.ov-blue-txt {
  font-size: 21px;
   display: inline-block;
   /* width: 50%; */
 text-align: right;
 margin-left: 100px;
 color: white;
 padding: 0px 5px 60px 0px;
   /* padding-left:10px;
   padding-right: 20px;
   
 */
 
}

.ov-blue-can{
  border: 7px solid white;
  /* padding: 50px 0px 50px 0px; */
  position: absolute;
  top: 90cm;
  right: 415px;
  width: 32%;
  
}


 /* GADGET SECTION */
 
  .gadget-section{
   margin-bottom: 150px;
   width: 70%;
   /* padding: 0px 25% 0px 25%; */
   justify-self: center;
   /* background-color:black; */
  }

 .gadget-img-box{
 /* width: 100% ; */
 }

 
 .gadjet-img{
  width: 299px;
  height: 290px;
  object-fit: cover;
  
 }
 
 .gadget-txt-header{
  text-transform: uppercase;
   color: rgb(107, 106, 106);
  font-weight: 500;
  font-size: 22px;
 }

 .gadget-txt-header-2{
  font-size: 43px;
  font-weight: 600;
  margin-bottom: 50px;
 }
 .gadget-text{
  font-size: 17px;
  line-height: 25px;
  font-style: bold;
  font-weight: 700;
 }

 .gadget-main-text{
  line-height:28px ;
  font-size:18px ;
 width: 84%; 
 margin-bottom: 60px;
 }
 
 .gadget-btn{
  padding: 15px 40px;
  background: transparent;
  border: 1px solid aqua;
  font-style: italic;
 }

 .white-bg-gadget{
  width: 50px;
  height: 140px;
  position: absolute;
  left: 8.7cm;
  top: 118.4cm;
 }

 .blue-bg-gadget{
  width: 20px;
  height: 210px;
  position: absolute;
  left: 9.1cm;

 }

 /* END OF SECTION */

 .main-stream{
   background-color: #050505;
    color: white;
    margin-bottom: 100px;

 }


 .sizer-ms{
  width: 60%;
  justify-self: center;
 }

.main-stream-header{
  font-size: 36px;
  margin-bottom: 40px;
  justify-self: center;
  padding: 80px  240px 30px 0px;
 
}

.main-stream-img{
  width: 150px;
  height: 6px;
  position: absolute;
  left: 510px;
  
}

.main-stream-text-1{
  line-height: 26px;
  font-size: 18px;
  width: 84.5%;
  margin-bottom: 30px;
}

.main-stream-text-2{
   line-height: 26px;
  font-size: 18px;
  width: 84.5%;
  margin-bottom: 90px;
}

/* SECTION FOR THE STREAM LIST */

.stream-list-box{
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 63%;
  justify-self: center;
  
}

.stream-list-header{
  font-size: 24px;
  margin-bottom: 20px;
  
}

.stream-list-text{
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  margin-bottom: 30px;
  width: 94%;
}

  /* END OF STREAM LINE PROJECT  */

    /* JAMES COMMY QUOTE SECTION */


    .james-commy{
      background-color: #f7fcfc;
      height: 450px;
      /* margin-bottom: 100px; */
    }

    .james-commy-box{
       width: 60%;
       justify-self: center;
    }

    .quote-box{
      padding-top: 80px;
       /* margin-left:40px */
    }
    .fa-quote-left{
        font-size: 50px;
        margin-left:50px;
         color: #17cad0;
         padding-bottom: 20px;
    }
    .quote-text{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
        width: 83%;
         margin-left:50px ;
       line-height: 25px;
       color: #17cad0;
      }

      .quote-name{
        margin-left:50px;
        font-size: 22px ;
      }

      .bot-house-img{
        width: 650px;
        height:400px;
        padding-top: 40px ;
      }

      /* END OF QUOTES SECTION  */

      /* FOOTER SECTION */

      footer{
        background-color:#293333;
       justify-items: center;
       height: 300px;

      }

      .footer-header{
        color: white;
        font-size: 33px;
        padding-top: 40px;
       
      }
   
      .footer-icon{
        color: #17cad0;
       display: flex;
       flex-direction: row;
       gap: 17px;
       font-size: 21px;
       margin-bottom: 30px;
      }

      .footer-text{
        font-size:18px;
        color:#999999;
      }

